
/* Design to center cards */

.center {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	flex-basis: 300px;
	flex-grow: 1;
	margin-top: 30px;
}

.center-thick {
	padding: 40px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	flex-basis: 300px;
	flex-grow: 1;
	margin-top: 30px;
}

.center h1 {
		padding: 50px;
		text-align: center;
		font-weight: 600;
}

.center p {
		padding: 30px;
		text-align: left;
}

#centered {
	max-width: 700px;
}
