
/* Social media icon design */

.icon {
	font-size: 50px;
	padding: 0px 10px 30px;
	color: #ffac41;
}

.liststyle-none {
	list-style-type: none;
}

.inline {
	display: inline;
	align-items: center;
}

.icon:hover {
	color: black;
}
