
/* Social media icon design */

.icon {
	font-size: 60px;
	padding-right: 20px;
	color: #ffac41;
	padding-bottom: 30px;
}

.liststyle-none {
	list-style-type: none;
}

.inline {
	display: inline;
}

.icon:hover {
	color: black;
}

#btn-icon {
	margin-left: 25px;
}
